@page
@model FunEvents.Pages.Events.DetailsModel
@{
}

<div class="container">
    <div class="card w-100">
        <div class="card-header">
            @Model.EventToJoin.Title
        </div>
        <div class="row">
            <div class="col-5">
                <img src="~/img/Untitled-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">@Model.EventToJoin.Description</p>
                    <form method="post">
                        @if (Model.EventToJoin.SpotsAvailable > 0)
                        {
                            <button type="submit" class="btn btn-primary">Join</button>
                        }
                        else
                        {
                            <button class="btn btn-primary disabled" disabled>Fully Booked 🥶</button>
                        }
                    </form>
                </div>
            </div>
            <div class="col-7">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Date</td>
                            <td>@(Model.EventToJoin.Date.ToShortDateString())</td>
                        </tr>
                        <tr>
                            <td>Place</td>
                            <td>@Model.EventToJoin.Place</td>
                        </tr>
                        <tr>
                            <td>Adress</td>
                            <td>@Model.EventToJoin.Address</td>
                        </tr>
                        <tr>
                            <td>Spots Left</td>
                            <td>@Model.EventToJoin.SpotsAvailable</td>
                        </tr>
                        <tr>
                            <td>Attendees</td>
                            <td>
                                <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="@(Model.GetAttendeeInfo())">
                                    @Model.AttendeesCount()
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <p class="text-right">
                Find more events from this Organizer <a href="#" class="btn btn-primary">🎯</a>
            </p>
        </div>
    </div>
</div>