@page
@model FunEvents.Pages.Events.DetailsModel
@inject SignInManager<Models.AppUser> _signInManager
@{
}

@if (Model.SucceededToJoinEvent)
{
    <div class="alert alert-success" role="alert">
        Event Added, No Excuses.
        <a asp-page="/Events/MyEvents">Go to your events 🦼</a>
    </div>
}

@if (Model.FailedToJoinEvent)
{
    <div class="alert alert-danger" role="alert">
        Something went wrong, please try again.
    </div>
}

<div class="container">
    <div class="card w-100">
        <div class="card-header">
            @Model.Event.Title
        </div>
        <div class="row">
            <div class="col-5">
                <img src="~/img/Untitled-1.png"
                     class="card-img-top img-fluid"
                     style="max-height: 40%;
                        width: auto;
                        margin: 20px;">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">@Model.Event.Description</p>
                    <form method="post">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            @if (Model.Event.Attendees?.Contains(Model.AppUser) ?? false)
                            {
                                <a class="btn btn-primary disabled">Already Joined 👺</a>
                            }
                            else
                            {
                                if (Model.Event.SpotsAvailable > 0)
                                {
                                    <button type="submit" class="btn btn-primary">Join</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary disabled" disabled>Fully Booked 🥶</button>
                                }
                            }
                        }
                        else
                        {
                            <a asp-area="Identity" asp-page="/Account/Login"
                               asp-route-returnUrl="~/Events/Details?id=@(Model.Event.Id)&redirectedFromLogin=true"
                               class="btn btn-success">
                                Join(Login)
                            </a>
                        }
                    </form>
                </div>
            </div>
            <div class="col-7">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Date</td>
                            <td>@(Model.Event.Date.ToShortDateString())</td>
                        </tr>
                        <tr>
                            <td>Place</td>
                            <td>@Model.Event.Place</td>
                        </tr>
                        <tr>
                            <td>Adress</td>
                            <td>@Model.Event.Address</td>
                        </tr>
                        <tr>
                            <td>Spots Left</td>
                            <td>@Model.Event.SpotsAvailable</td>
                        </tr>
                        <tr>
                            <td>Attendees</td>
                            <td>
                                @for (int i = 0; i < Model.Attendees.Count && i < 3; i++)
                                {
                                    <p>@(Model.Attendees[i])</p>
                                }
                                @if (Model.Attendees.Count > 3)
                                {
                                    <p>and @(Model.Attendees.Count - 3) others</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <p class="text-right">
                Find more events from this Organizer
                <a asp-page="/Events/OrganizationPage"
                   asp-route-id="@(Model.Event.Organization?.Id ?? null)"
                   class="btn btn-primary">
                    🎯
                </a>
            </p>
        </div>
    </div>
</div>
