@page
@model FunEvents.Pages.Events.EditEventModel
@{
}


    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                <th>
                    Place
                </th>
                <th>
                    Adress
                </th>
                <th>
                    Organizer
                </th>
                <th>
                    Spots Available
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Events.Count; i++)
            {

                <tr>
                    <td>
                        <form method="post" id="titleForm">
                            <input asp-for="@Model.Events[i].Title" class="form-control" id="titleInput" oninput="setRouteParam"/>
                            <span asp-validation-for="@Model.Events[i].Title" class="text-danger"></span>
                            <input type="submit" value="Save" class="btn btn-success" id ="titleSubmit" asp-page-handler="Save" asp-route-id="@Model.Events[i].Id" asp-route-newTitle="" />
                        </form>
                        
                    </td>
                    <td>
                        <input asp-for="@Model.Events[i].Description" class="form-control" />
                        <span asp-validation-for="@Model.Events[i].Description" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Events[i].Date" class="form-control" />
                        <span asp-validation-for="@Model.Events[i].Date" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Events[i].Place" class="form-control" />
                        <span asp-validation-for="@Model.Events[i].Place" class="text-danger"></span>
                    </td>
                    <td>
                        <input asp-for="@Model.Events[i].Address" class="form-control" />
                        <span asp-validation-for="@Model.Events[i].Address" class="text-danger"></span>
                    </td>
                    <td>
                        <p>@Model.Events[i].Organizer.UserName</p>
                    </td>
                    <td>
                        <input asp-for="@Model.Events[i].SpotsAvailable" asp-route-newspotsavailable="@Model.Events[i].SpotsAvailable" class="form-control" />
                        <span asp-validation-for="@Model.Events[i].SpotsAvailable" class="text-danger"></span>
                    </td>
                    <td>

                        <input type="submit" value="Save" class="btn btn-success" asp-page-handler="Save" asp-route-id="@Model.Events[i].Id" asp-route-newTitle="@Model.Events[i].Title" asp-route-newPlace="@Model.Events[i].Title" />

                    </td>
                    <td>
                        <input type="submit" value="Cancel Event" class="btn btn-danger" asp-page-handler="Cancel" asp-route-id="@Model.Events[i].Id" />
                    </td>
                </tr>

            }
        </tbody>
        </table>


