@page
@model FunEvents.Pages.Events.EditEventModel
@{
}

@if (Model.EditSucceeded)
{
    <div class="alert alert-success" role="alert">
        Event edited successfully! <a asp-page="/Events/EditEvent">Back To Events</a>
    </div>
}

@if (Model.EditFailed)
{
    <div class="alert alert-danger" role="alert">
        Something went wrong..
    </div>
}

@if (Model.HasEventBeenSelectedForEdit)
{
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1>@Model.Event.Title</h1>
            <p style="font-style: italic;">Edit your chosen event here</p>
            <hr />
            <form method="post" asp-page-handler="@(Model.EventsWhereUserIsManager.Contains(Model.Event) ? "Edit" : "RequestEdit")">
                <div class="form-group">
                    <label asp-for="@Model.Event.Title" class="col-sm-10 col-form-label col-form-label-lg" style="font-weight: bold;"></label>
                    <input asp-for="@Model.Event.Title" class="form-control form-control-lg">
                    <span asp-validation-for="@Model.Event.Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Event.Description" class="col-sm-10 col-form-label col-form-label-lg" style="font-weight: bold;">Description</label>
                    <textarea asp-for="@Model.Event.Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="@Model.Event.Description" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Event.Date" class="col-sm-10 col-form-label col-form-label-lg" style="font-weight: bold;"></label>
                        <input asp-for="@Model.Event.Date" class="form-control">
                        <span asp-validation-for="@Model.Event.Date" id="basic-addon2"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Event.Place" class="col-sm-10 col-form-label col-form-label-lg" style="font-weight: bold;"></label>
                        <input asp-for="@Model.Event.Place" class="form-control">
                        <span asp-validation-for="@Model.Event.Place" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Event.Address" class="col-sm-10 col-form-label col-form-label-lg" style="font-weight: bold;"></label>
                        <input asp-for="@Model.Event.Address" class="form-control">
                        <span asp-validation-for="@Model.Event.Address" id="basic-addon2"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="@Model.Event.SpotsAvailable" class="col-sm-10 col-form-label col-form-label-lg" style="font-weight: bold;"></label>
                        <input asp-for="@Model.Event.SpotsAvailable" class="form-control">
                        <span asp-validation-for="@Model.Event.SpotsAvailable" id="basic-addon2"></span>
                    </div>
                </div>
                <div class="form-row align-items-end">
                    <div class="form-group col-md-1">
                        <input type="submit" value="@(Model.EventsWhereUserIsManager.Contains(Model.Event) ? "Edit" : "Request")"
                               class="btn btn-success" asp-route-id="@Model.Event.Id" />
                    </div>
                    <div class="form-group col-md-2">
                        <a asp-page="/Events/EditEvent" class="text-dark">Back to Events</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <hr />
}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 w-75 col-lg-6">
        <h1>Events where you are Manager</h1>
        <p style="font-style:italic;">Edit or cancel events here</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Place
                    </th>
                    <th>
                        Adress
                    </th>
                    <th>
                        Organizer
                    </th>
                    <th>
                        Spots Available
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.EventsWhereUserIsManager.Count; i++)
                {
                    <tr>
                        <td>
                            <p>@Model.EventsWhereUserIsManager[i].Title</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsManager[i].Description</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsManager[i].Date</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsManager[i].Place</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsManager[i].Address</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsManager[i].Organizer.UserName</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsManager[i].SpotsAvailable</p>
                        </td>
                        <td>
                            <a class="btn btn-success" asp-route-selectedEvent="@Model.EventsWhereUserIsManager[i].Id" asp-page="/Events/EditEvent">Edit</a>
                        </td>
                        <td>
                            <form method="post">
                                <input type="submit" value="Cancel Event" class="btn btn-danger" asp-page-handler="Cancel" asp-route-id="@Model.EventsWhereUserIsManager[i].Id" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 w-75 col-lg-6">
        <h1>Events where you are assistant</h1>
        <p style="font-style:italic;">Edit events and request the changes here!</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Place
                    </th>
                    <th>
                        Adress
                    </th>
                    <th>
                        Organizer
                    </th>
                    <th>
                        Spots Available
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.EventsWhereUserIsAssistant.Count; i++)
                {
                    <tr>
                        <td>
                            <p>@Model.EventsWhereUserIsAssistant[i].Title</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsAssistant[i].Description</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsAssistant[i].Date</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsAssistant[i].Place</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsAssistant[i].Address</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsAssistant[i].Organizer.UserName</p>
                        </td>
                        <td>
                            <p>@Model.EventsWhereUserIsAssistant[i].SpotsAvailable</p>
                        </td>
                        <td>
                            <a class="btn btn-success" asp-route-selectedEvent="@Model.EventsWhereUserIsAssistant[i].Id" asp-page="/Events/EditEvent">Edit</a>
                        </td>
                        <td>
                            <form method="post">
                                <input type="submit" value="Cancel Event" class="btn btn-danger" asp-page-handler="Cancel" asp-route-id="@Model.EventsWhereUserIsAssistant[i].Id" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
