@page "{currentpage=1}/{sortby=Id}"
@model FunEvents.Pages.Events.IndexModel
@{
}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Events</h1>
        <p class="lead">Find great events to join - just for you!</p>
        <hr />
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">
                    <b>Order By:</b>
                </li>
                <li class="breadcrumb-item">
                    <a asp-page="Index" class="sort-link col p-0" asp-route-sortby="Title">
                        @Html.DisplayNameFor(model => model.Events[0].Title)
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-page="Index" class="sort-link col p-0" asp-route-sortby="CreatedAt">
                        @Html.DisplayNameFor(model => model.Events[0].CreatedAt)
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-page="Index" class="sort-link col p-0" asp-route-sortby="Date">
                        @Html.DisplayNameFor(model => model.Events[0].Date)
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-page="Index" class="sort-link col p-0" asp-route-sortby="Place">
                        @Html.DisplayNameFor(model => model.Events[0].Place)
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-page="Index" class="sort-link col p-0" asp-route-sortby="SpotsAvailable">
                        @Html.DisplayNameFor(model => model.Events[0].SpotsAvailable)
                    </a>
                </li>
            </ol>
        </nav>
        <div>
            <ul class="pagination pagination-lg justify-content-center">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a asp-page="./Index" asp-all-route-data="@(new Dictionary<string, string>
               {{ "currentpage", i.ToString() }, { "sortby", Model.SortBy }})"
                           class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="row">
    @for (int i = Model.Events.Count - 1; i >= 0; i--)
    {
        <div class="col-4">
            <div class="card" style="width: 18rem; height: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@(Model.Events[i]?.Title ?? "uNdeFinEd")</h5>
                    <p class="card-text">@Model.CondenseDescription(Model.Events[i].Description)</p>
                    @if (Model.Events[i].SpotsAvailable == 0)
                    {
                        <p class="card-text alert alert-danger">
                            All spots booked!
                        </p>
                    }
                    else if (Model.Events[i].SpotsAvailable != 0 && Model.Events[i].SpotsAvailable < 10)
                    {
                        <p class="card-text alert alert-warning">
                            Only a few spots left!
                        </p>
                    }
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Events[i].Id">Read More🐱‍🐉</a>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="./Index" asp-all-route-data="@(new Dictionary<string, string>
               {{ "currentpage", i.ToString() }, { "sortby", Model.SortBy }})"
                   class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
