@page
@model FunEvents.Pages.Events.MyEventsModel
@{
    ViewData["Title"] = "Index";
}

@if (Model.RemovingEventFailed)
{
    <div class="alert alert-warning" role="alert">
        Something went wrong trying to remove the event. Please try again later.
    </div>
}

@if (Model.RemovingEventSucceeded)
{
    <div class="alert alert-success" role="alert">
        Event removed, it's cozier at home anyway.
        <form asp-page-handler="Undo" asp-route-id="@Model.EventToUndoId" method="post">
            <button type="submit">Undo</button>
        </form>
    </div>
}

<h1>@Model.AppUser.UserName</h1>
<p>The events you've joined are displayed here!</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Location
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppUser.JoinedEvents)
        {
            <tr>
                <td>
                    <a asp-page="/Events/Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    <form method="post">
                        <input type="submit" class="btn-outline-danger" value="Remove" asp-route-id="@item.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
