@page
@model FunEvents.Pages.Events.MyEventsModel
@{
    ViewData["Title"] = "Index";
}

@if (Model.RemovingEventFailed)
{
    <div class="alert alert-warning" role="alert">
        Something went wrong trying to remove the event. Please try again later.
    </div>
}

@if (Model.RemovingEventSucceeded)
{
    <div class="alert alert-success" role="alert">
        Event removed, it's cozier at home anyway.
        <form method="post">
            <input type="submit" value="Undo"
                   asp-page-handler="Revert"
                   asp-route-id="@Model.LastRemovedEvent" />
        </form>
    </div>
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.AppUser.UserName</h1>
        <p class="lead">The events you've joined are displayed here!</p>
        <hr />
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Title
            </th>
            <th scope="col">
                Location
            </th>
            <th scope="col">
                Date
            </th>
            <th scope="col">
                Organization
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JoinedEvents)
        {
            <tr>
                <td style="width: 20%">
                    <a asp-page="/Events/Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td style="width: 20%">
                    <p>@item.Place</p>
                </td>
                <td style="width: 25%">
                    <p>@item.Date</p>
                </td>
                <td style="width: 20%">
                    @if (item.Organization != null)
                    {
                        <a asp-page="/Events/OrganizationPage" asp-route-id="@item.Organization.Id">
                            @item.Organization.Name
                        </a>
                    }
                    else
                    {
                        <p>---</p>
                    }
                </td>
                <td style="width: 15%">
                    <form method="post">
                        <input type="submit" class="btn btn-danger" value="Remove" asp-route-id="@item.Id" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
