@page
@model FunEvents.Pages.Events.MyEventsModel
@{
    ViewData["Title"] = "Index";
}

@if (Model.RemovingEventFailed)
{
    <div class="alert alert-warning" role="alert">
        Something went wrong trying to remove the event. Please try again later.
    </div>
}

<h1>@Model.AppUser.UserName</h1>
<p>The events you've joined are displayed here!</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Location
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppUser.JoinedEvents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <form method="post">
                        <input type="submit" class="btn-outline-danger" value="Remove" asp-route-id="@null" />
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>
