@page
@model FunEvents.Pages.Events.OrganizationPageModel
@{
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Model.Organization.Name</h1>
        <hr />
        <p class="lead">Contact</p>
        <p>Email: @Model.Organization.Email</p>
        <p>Phone Number: @Model.Organization.PhoneNumber</p>
    </div>
</div>

<h2>Events</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Place</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Place</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>
                    <a asp-page="/Events/Details" asp-route-id="@item.Id">
                        Read More
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>