@page
@model FunEvents.Pages.Events.OrganizerPageModel
@{
}
<p>@Model.Organizer.UserName</p>
<p>@Model.Organizer.Email</p>
<p>@Model.Organizer.PhoneNumber</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Place</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Place</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>
                    <a asp-page="/Events/Details" asp-route-id="@item.Id">
                        Read More
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
