@model FunEvents.Pages.AccountManagement.RolesManagerModel

<h1>User Manager - Organizer version</h1>
<h4>Assign roles to users</h4>
<ul class="list-group">
    @foreach (var user in Model.Users)
    {
        <li class="list-group-item @(Model.IsInSpecificRole(user.Id, "Organizer").Result ? "active" : "")">
            <div class="row">
                <div class="col text-left">
                    @user.UserName @(Model.IsInSpecificRole(user.Id, "Admin").Result ? "(Admin👸)" : "")
                </div>
                <div class="col-4 text-right">
                    @if (Model.IsInSpecificRole(user.Id, "Admin").Result)
                    {
                        <a class="btn btn-block btn-info disabled" role="button" aria-disabled="true">Admin</a>
                    }
                    @if (Model.IsInSpecificRole(user.Id, "Organizer").Result && Model.IsInSpecificRole(user.Id, "Admin").Result == false)
                    {
                        <a class="btn btn-block btn-info disabled" role="button" aria-disabled="true">Organizer</a>
                    }
                    @if (Model.IsInSpecificRole(user.Id, "Manager").Result && Model.IsInSpecificRole(user.Id, "Admin").Result == false)
                    {
                        <form method="post" asp-route-id="@user.Id" asp-route-role="Manager" asp-page-handler="Remove">
                            <button class="btn btn-block btn-info"
                                    type="submit">
                                Remove as Manager
                            </button>
                        </form>
                    }
                    else if (Model.IsInSpecificRole(user.Id, "Admin").Result == false)
                    {
                        <form method="post" asp-route-id="@user.Id" asp-route-role="Manager" asp-page-handler="Add">
                            <button class="btn btn-block btn-info" type="submit">
                                Make Manager
                            </button>
                        </form>
                    }
                    @if (Model.IsInSpecificRole(user.Id, "Assistant").Result && Model.IsInSpecificRole(user.Id, "Admin").Result == false)
                    {
                        <form method="post" asp-route-id="@user.Id" asp-route-role="Manager" asp-page-handler="Remove">
                            <button class="btn btn-block btn-info"
                                    type="submit">
                                Remove as Assistant
                            </button>
                        </form>
                    }
                    else if (Model.IsInSpecificRole(user.Id, "Admin").Result == false)
                    {
                        <form method="post" asp-route-id="@user.Id" asp-route-role="Manager" asp-page-handler="Add">
                            <button class="btn btn-block btn-info" type="submit">
                                Make Assistant
                            </button>
                        </form>
                    }
                </div>
            </div>
        </li>
    }
</ul>