@page
@model FunEvents.Pages.AccountManagement.RolesManagerModel
@{
}

@if (User.IsInRole("Admin"))
{
    <h1>User Manager</h1>
    <h4>Assign Organizer Privileges To User</h4>
    <ul class="list-group">
        @foreach (var user in Model.Users)
        {
            <li class="list-group-item @(Model.IsInSpecificRole(user.Id, "Organizer").Result ? "active" : "")">
                <div class="row">
                    <div class="col text-left">
                        @user.UserName @(Model.IsInSpecificRole(user.Id, "Admin").Result ? "(Admin👸)" : "")
                    </div>
                    <div class="col-4 text-right">
                        @if (Model.IsInSpecificRole(user.Id, "Organizer").Result)
                        {
                            <form method="post" asp-route-id="@user.Id" asp-route-role="Organizer" asp-page-handler="Remove">
                                <button class="btn btn-block btn-info"
                                        type="submit">
                                    Remove as Organizer
                                </button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-route-id="@user.Id" asp-route-role="Organizer" asp-page-handler="Add">
                                <button class="btn btn-block btn-info" type="submit">
                                    Make Organizer
                                </button>
                            </form>
                        }
                        @if (Model.IsInSpecificRole(user.Id, "Manager").Result)
                        {
                            <form method="post" asp-route-id="@user.Id" asp-route-role="Manager" asp-page-handler="Remove">
                                <button class="btn btn-block btn-info"
                                        type="submit">
                                    Remove as Manager
                                </button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-route-id="@user.Id" asp-route-role="Manager" asp-page-handler="Add">
                                <button class="btn btn-block btn-info" type="submit">
                                    Make Manager
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>
}
else if (User.IsInRole("Organizer"))
{
    <partial name="_OrganizerRolesManager" />
}

